<div class="navbar navbar-default navbar-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Angular Site</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="header_item" ng-class="{active: isActive('/')}"><a href="#/">Angular Site</a></li>
        <li class="header_item" ng-class="{active: isActive('/page2')}"><a href="#/page2">Page 2</a></li>
        <li class="header_item" ng-class="{active: isActive('/page3')}"><a href="#/page3">Page 3</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>